<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TENmo Bucks</title>
</head>
<body>
<a href ="/webtransfer/test">Transfers</a>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEnmo Transfer Service</title>
</head>
<BODY>

<div class="container" id="header">
    <h1>TEnmo<span id="streams"> Bucks</span></h1>
    <form action="">
        <input type="text" name="firstname" placeholder="Name" id="userInputFirstName">
    </form>
    <form action="">
        <input type="text" name="password" placeholder="Password" id="userInputPassword">
    </form>

</div>
<div class="container" id="btnUserContainer">
    <button type="button" class="button" id="newUser"onclick="getElementById('demo1').innerHTML=http://localhost:8080/account/balancebyuserid?id=1001">New User</button>
    <button type="button" class="button" id="logIn">Log In</button>
    <button type="button" class="button" id="exit">Exit</button>
</div>
<div>
    <p id = "newUserArea"></p>
</div>
<div>
    <table>
        <tr>

            <td>List of Users</td>

        </tr>
        <tr th:each="transferService: ${transferService}">
            <td th:text="${transferService.displayRegisteredUsers}">User List</td>
        </tr>
    </table>
</div>

<div class="container" id="mainContainer">
    <div class="container" id="streamOnline"></div>
    <div class="container" id="streamOffline"></div>
</div>
<div>

</div>
<div class="container" id="footer">
    <p>Graham & Harper LLC</p>
</div>


<p>How to assign an "onclick" event to a p element:</p>

<p id="demo" onclick="myFunction()">Click me.</p>

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "YOU CLICKED ME!";

}
</script>


<nav>
    <ul>
        <li><a href="#">Account List</a></li>
        <li><a href="#">User List</a></li>
        <li><a href="#">Transfer List</a></li>
    </ul>
</nav>



</body>
</html>