<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--@Controller-->
<!--public class ThymeleafController {-->

<!--@RequestMapping("/user")-->
<!--public String getUser(Model model) {-->
<!--// Get user credentials from database-->
<!--User user = getUserFromDatabase();-->

<!--// Store user credentials in the model-->
<!--model.addAttribute("user", user);-->

<!--return "user";-->
<!--}-->
<!--}-->

<!--Thymeleaf Fragment-->

<!--<div th:frtheagment="userInfo">-->
<!--    <p>User Name: <span th:text="${user.name}"></span></p>-->
<!--    <p>User Role: <span th:text="${user.role}"></span></p>-->
<!--</div>-->


<!--th:replace="~login::login(username=${username}, password=${password})}"-->


</body>
</html>