<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="actions.js"></script>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>

<img src="tenmo.png">
<div class="container" id="btnGroupContainer">
    <button onclick="toggle(this);" type="button" class="button" id="transferButton">Show Transfers</button>
    <button onclick="pendingToggle(this)" class="button" id="pendingButton">Show Pending</button>
    <button th:action="@{/send}" class="button" id="sendButton">Send</button>
    <button type="button" class="button" id="requestButton">Request</button>
</div>
<h1 th:text="'Welcome ' + ${user.username}"></h1>
<h2 th:text="'Account Number: ' + ${account.accountid} + ' Current balance: $' + ${account.balance}"></h2>
<table id="transferTable" hidden>
    <tr>
        <th>ID</th>
        <th>TYPE</th>
        <th>TO</th>
        <th>FROM</th>
        <th>AMOUNT</th>
        <th>STATUS</th>
    </tr>
    <tr th:each="transfer:${transfer}">
        <td th:text="${transfer.id}">ID</td>
        <td th:text="${transfer.transferType.transfertypedesc}">TYPE</td>
        <td th:text="${transfer.accountto}">TO</td>
        <td th:text="${transfer.accountfrom}">FROM</td>
        <td th:text="'$' + ${transfer.amount}">AMOUNT</td>
        <td th:text="${transfer.transferStatus.transferstatusdesc}">STATUS</td>
    </tr>
</table>
<table id="pendingtable" hidden >
    <tr>
        <th>ID</th>
        <th>TYPE</th>
        <th>TO</th>
        <th>FROM</th>
        <th>AMOUNT</th>
        <th>STATUS</th>
    </tr>
    <tr th:each="pendingtransfer:${pendingtransfers}">
        <td th:text="${pendingtransfer.id}">ID</td>
        <td th:text="${pendingtransfer.transferType.transfertypedesc}">TYPE</td>
        <td th:text="${pendingtransfer.accountto}">TO</td>
        <td th:text="${pendingtransfer.accountfrom}">FROM</td>
        <td th:text="'$' + ${pendingtransfer.amount}">AMOUNT</td>
        <td th:text="${pendingtransfer.transferStatus.transferstatusdesc}">STATUS</td>
    </tr>
    <tr>
        <td><button onclick="toggleReject()" style="font-size:24px">Reject <i class="fa fa-thumbs-down"></i></button></td>
        <td><button onclick="toggleApprove()" style="font-size:24px">Approve <i class="fa fa-thumbs-up"></i></button></td>
    </tr>
</table>
</body>
</html>