<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="actions.js"></script>
    <meta charset="UTF-8">
    <title>TEnmo Payment</title>
</head>
<body>

<img src="tenmo.png">
<div class="container" id="btnGroupContainer">
    <button onclick="toggle();" type="button" class="button" id="transferButton">Show Transfers</button>
    <button onclick="pendingToggle()" class="button" id="pendingButton">Show Pending</button>
    <button th:action="@{/send}" class="button" id="sendButton">Send</button>
    <button type="button" class="button" id="requestButton">Request</button>
</div>
<h1 th:text="'Welcome ' + ${loginresponse.user.username}"></h1>
<h2 th:text="'Account Number: ' + ${account.accountid} + ' Current balance: $' + ${account.balance}"></h2>
<table id="transferTable" hidden>
    <tr>
        <th>ID</th>
        <th>TYPE</th>
        <th>TO</th>
        <th>FROM</th>
        <th>AMOUNT</th>
        <th>STATUS</th>
    </tr>
    <tr th:each="transfer:${transfer}">
        <td th:text="${transfer.id}">ID</td>
        <td th:text="${transfer.transferType.transfertypedesc}">TYPE</td>
        <td th:text="${transfer.accountto}">TO</td>
        <td th:text="${transfer.accountfrom}">FROM</td>
        <td th:text="'$' + ${transfer.amount}">AMOUNT</td>
        <td th:text="${transfer.transferStatus.transferstatusdesc}">STATUS</td>
    </tr>
</table>
<table id="pendingtable" hidden >
    <tr>
        <th>ID</th>
        <th>TYPE</th>
        <th>TO</th>
        <th>FROM</th>
        <th>AMOUNT</th>
        <th>STATUS</th>
    </tr>
    <tr th:each="pendingtransfer:${pendingtransfers}">
        <td th:text="${pendingtransfer.id}">ID</td>
        <td th:text="${pendingtransfer.transferType.transfertypedesc}">TYPE</td>
        <td th:text="${pendingtransfer.accountto}">TO</td>
        <td th:text="${pendingtransfer.accountfrom}">FROM</td>
        <td th:text="'$' + ${pendingtransfer.amount}">AMOUNT</td>
        <td th:text="${pendingtransfer.transferStatus.transferstatusdesc}">STATUS</td>
    </tr>
    <tr>
        <td><button onclick="toggleReject()" style="font-size:24px">Reject <i class="fa fa-thumbs-down"></i></button></td>
        <td><button onclick="toggleApprove()" style="font-size:24px">Approve <i class="fa fa-thumbs-up"></i></button></td>
    </tr>
</table>
<form th:action="@{/approve}" method="post" id="approve" hidden>
    <label for="ID">ID</label>:
    <input type="number" id="ID" name="id"/> <br />
    <label for="transferstatusid">TransferStatusID</label>:
    <input type="number" id="transferstatusid" name="transferstatusid" value="2" readonly/> <br />
    <label for="transfertypeid">TransferTypeID</label>:
    <input type="number" id="transfertypeid" name="transfertypeid" value="1" readonly/> <br />
    <label for="accountto">AccountTo</label>:
    <input type="number" id="accountto" name="accountto"/> <br />
    <label for="accountfrom">AccountFrom</label>:
    <input type="number" id="accountfrom" name="accountfrom"/> <br />
    <label for="amount">amount</label>:
    <input type="number" id="amount" name="amount" step=".01"/> <br />
    <input type="submit" value="Submit" />
</form>
<form th:action="@{/reject}" method="POST" id="reject" hidden>
    <label for="IDx">ID</label>:
    <input type="number" id="IDx" name="id"/> <br />
    <label for="transferstatusidx">TransferStatusID</label>:
    <input type="number" id="transferstatusidx" name="transferstatusid" value="3" readonly/> <br />
    <label for="transfertypeidx">TransferTypeID</label>:
    <input type="number" id="transfertypeidx" name="transfertypeid" value="1" readonly/> <br />
    <label for="accounttox">AccountTo</label>:
    <input type="number" id="accounttox" name="accountto"/> <br />
    <label for="accountfromx">AccountFrom</label>:
    <input type="number" id="accountfromx" name="accountfrom"/> <br />
    <label for="amountx">amount</label>:
    <input type="number" id="amountx" name="amount" step=".01"/> <br />
    <input type="submit" value="Submit" />
</form>

<footer>
    <p>2022 Copyright &copy; Graham & Harper</p>
</footer>

<span th:text="'Currently logged in as: ' + ${#authentication.getPrincipal().getUsername()}"></span>
</body>
</html>