<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate=~{layout} xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://org.thymeleaf.extras/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Layout-Balance</title>
</head>
<body>
<div class="main-content" layout:fragment="main-content">
    <p>Account : <span th:text="${#authentication.name}"></span></p>
    <p>Current Balance: <span th:text="${balance}"></span></p>
    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{login}">Please log in to access.</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p>Authorization in Balance.html</p>
    </div>

</div>
</body>
</html>