<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no" />

    <title>Layout-Page</title>
    <link href="../static/style.css"  rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <script src="actions.js"></script>-->

</head>
<body id="main-layer-body">
<header>
    <div class="navbar">
        <!--  static use /static/TEnmo.jpg  Dynamic use {TEnmo} -->
        <img src="../static/TEnmo.jpg" th:src="@{TEnmo.jpg}" alt="TEnmo logo of people sharing money" id="tenmo-logo">
        <div class="container" id="btnGroupContainer">
            <a th:href="@{/records}" type="button" class="button-group" id="transferButton" title="Retrieve transfer history">Show Transfers</a>
            <button onclick="pendingToggle()" class="button-group" id="pendingButton">Show Pending</button>
            <button th:action="@{/send}" class="button-group" id="sendButton">Send</button>
            <button th:action="@{/request}" type="button" class="button-group" id="requestButton">Request</button>
        </div>
    </div>
</header>


<main role="main" class="main-content" layout:fragment="main-content">

        <!--This is where all of the changable content will be kept-->
        <p>This fragment belongs to the base layout</p>

</main>



<footer id="footer">
    <p>2022 Copyright &copy; Graham & Harper</p>
<!--    If not logged in display not logged in else display user name-->
<!--    <span th:text="'Currently logged in as: ' + ${#authentication.getName()? #authentication.getName(): 'Oops! Please log in.'}"></span>-->
</footer>
</body>
</html>