<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://org.thymeleaf.extras/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">

<head>
    <meta name="description" content="TEnmo Transfer Capstone Project"/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no" />
    <title>Layout-Page</title>
    <link rel='canonical' href='@{/layout}' />
    <link href="../static/style.css"  rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="actions.js"></script>
    <script src="https://kit.fontawesome.com/46c7c53781.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js"></script>
</head>
<body id="main-layer-body">
<header>
    <div class="navbar">
        <!--  static use /static/TEnmo.jpg  Dynamic use {TEnmo} -->
        <div id="image-logout-container">
            <img src="../static/TEnmo.jpg" th:src="@{../TEnmo.jpg}" alt="TEnmo logo of people sharing money" id="tenmo-logo">
            <form th:action="@{/logoff}" method="POST" id="log-out">
                <button id="log-out-nav-button" type="submit" class="button-group"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
            </form>

        </div>
        <div class="container" id="btnGroupContainer">

            <a th:href="@{balance}"  class="button-group" id="balance-nav-button" title="Account Details" sec:authorize="isAuthenticated()">Account</a>
            <a th:href="@{send-to}" id="send-nav-button" class="button-group" title="Send money" sec:authorize="isAuthenticated()">Send</a>
            <a th:href="@{request-from}" id="request-nav-button" class="button-group" title="Request money" sec:authorize="isAuthenticated()">Request</a>
            <a th:href="@{pending}" id="pending-nav-button" class="button-group" title="Pending Transfers" sec:authorize="isAuthenticated()">Pending</a>
            <a th:href="@{activity}" id="activity-nav-button" class="button-group" title="Activity" sec:authorize="isAuthenticated()">Activity</a>
            <input type="hidden" id="jwt-token" th:value="${jwt}" />

        </div>
    </div>
</header>
<div sec:authorize="isAuthenticated()">
    <h1>Welcome <span th:text="${#authentication.name}"></span></h1>

</div>

<!--<div sec:authorize="!isAuthenticated()">-->

<!--</div>-->

<main role="main" class="main-content" layout:fragment="main-content">
    <!--This is where all of the changable content will be kept-->
    <!--<p>Date: <span th:text="${#calendars.format(today,'dd MMMM yyyy')}"></span></p>-->
</main>
<footer id="footer">
    <p>2022 Copyright &copy; Graham & Harper</p>
    <p>Logged in as: <span th:text="${session.user?.username}"></span></p>
</footer>
</body>
</html>