<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Layout-Log in</title>
</head>
<body>
<div class="main-content" layout:fragment="main-content">
    <h1 th:text="${message}">Login page</h1>
    <div th:if="${param.error}">
        Invalid username and password.</div>
    <div th:if="${param.logout}">
        You have been logged out.</div>
        <form th:action="@{/login}" method="POST" id="log-in">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus" placeholder="Username..." /> <br />
        <label for="password">Password</label>:
        <input type="password" id="password" name="password" placeholder="Password..." /> <br />
        <input type="submit" class="button-group" value="Log in" />
    </form>
</div>
</body>
</html>



