<!DOCTYPE html>
<html lang="en" xmlns:layout="https://wwww.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TEnmo Transfers</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="actions.js"></script>

</head>
<body>
<div class="navbar">
    <img src="TEnmo.jpg" alt="TEnmo logo of people sharing money" id="tenmo-logo">

    <div class="container" id="btnGroupContainer">
        <button onclick="@{/transfers" type="button" class="button-group" id="transferButton">Show Transfers</button>
        <button onclick="pendingToggle()" class="button-group" id="pendingButton">Show Pending</button>
        <button th:action="@{/send}" class="button-group" id="sendButton">Send</button>
        <button th:action="@{/request}" type="button" class="button-group" id="requestButton">Request</button>
    </div>
</div>
<!--<main id="margin-top">-->
<!--    <h1 th:text="'Welcome ' + ${loginresponse.user.username}"></h1>-->
<!--    <h2 th:text="'Account Number: ' + ${accounts.accountid} + ' Current balance: $' + ${accounts.balance}"></h2>-->

    <!--This is where all of the changable content will be kept-->
    <div class="container" id="content-container">
        <div layout:fragment="content">


        </div>
    </div>
<!--</main>-->

<footer id="footer">
    <p>2022 Copyright &copy; Graham & Harper</p>
<!--    <span th:text="'Currently logged in as: ' + ${#authentication.getPrincipal().getUsername()}"></span>-->
</footer>
</body>
</html>