<!DOCTYPE html>

<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate=~{layout} xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://org.thymeleaf.extras/thymeleaf-extras-springsecurity5">
<head>

    <meta charset="UTF-8">
    <title>TEnmo-Pending</title>
</head>

<body>
<div class="main-content" layout:fragment="main-content">

    <table class="blueTable" id="pendingTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>TYPE</th>
            <th>TO</th>
            <th>FROM</th>
            <th>AMOUNT</th>
            <th>STATUS</th>
            <th>APPROVE</th>
            <th>REJECT</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pendingtransfer:${pending}">
            <td th:text="${pendingtransfer.id}">ID</td>
            <td th:text="${pendingtransfer.transferType.transfertypedesc}">TYPE</td>
            <td th:text="${pendingtransfer.accountto}">TO</td>
            <td th:text="${pendingtransfer.accountfrom}">FROM</td>
            <td th:text="'$' + ${pendingtransfer.amount}">AMOUNT</td>
            <td th:text="${pendingtransfer.transferStatus.transferstatusdesc}">STATUS</td>
            <td><button onclick="toggleApprove()" class="button-group" style="font-size:15px"><i class="fa-regular fa-circle-check"></i></button></td>
            <td><button onclick="toggleReject()" class="button-group" style="font-size:15px"><i class="fa-regular fa-circle-xmark"></i></button></td>
        </tr>
        </tbody>
    </table>
<!--    <form th:action="@{/approve}" method="post" id="approve" hidden>-->
<!--&lt;!&ndash;        TODO - get id of transaction and assign approve to it.&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="ID">ID</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="ID" name="id"/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="transferstatusid">TransferStatusID</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="transferstatusid" name="transferstatusid" value="2" readonly/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="transfertypeid">TransferTypeID</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="transfertypeid" name="transfertypeid" value="1" readonly/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="accountto">AccountTo</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="accountto" name="accountto"/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="accountfrom">AccountFrom</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="accountfrom" name="accountfrom"/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="amount">amount</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="amount" name="amount" step=".01"/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="submit" value="Submit" />&ndash;&gt;-->
<!--    </form>-->
<!--    <form th:action="@{/reject}" method="POST" id="reject" hidden>-->
<!--&lt;!&ndash;        TODO - get Id of transaction and assign reject status/type&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="IDx">ID</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="IDx" name="id"/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="transferstatusidx">TransferStatusID</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="transferstatusidx" name="transferstatusid" value="3" readonly/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="transfertypeidx">TransferTypeID</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="transfertypeidx" name="transfertypeid" value="1" readonly/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="accounttox">AccountTo</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="accounttox" name="accountto"/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="accountfromx">AccountFrom</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="accountfromx" name="accountfrom"/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="amountx">amount</label>:&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="number" id="amountx" name="amount" step=".01"/> <br />&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="submit" value="Submit" />&ndash;&gt;-->
<!--    </form>-->

</main>

</div>
</body>
</html>