<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate=~{layout} xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://org.thymeleaf.extras/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Send</title>
</head>
<body>
<div class="main-content" layout:fragment="main-content">
    <table class="blueTable" id="userTable">
        <thead>
        <tr>
            <th id="user-name-header">USER</th>
            <th id="user-send-header">Send</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.username}"></td>
            <td class="center-button">
                <form th:action="@{/send}" method="POST" id="send-money">
                    <input type="hidden" style="display:hidden" name="user" th:value="${user.username}">
                    <div class="request-send-container">
                        <input type="text" id="amount" name="amount" placeholder="Amount amount"/>
                        <button class="button-group" type="submit"><i
                                class="fa-solid fa-money-bill-transfer"></i></button>
                    </div>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>