<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEnmo Transfer Service</title>
</head>
<BODY>
<table>
    <tr>
<! Column names for the table >
        <td>Id</td>
        <td>Transfer Status</td>
        <td>Account From</td>
        <td>Account To</td>
    </tr>
    <tr th:each="transfer: ${transfers}">
        <td th:text="${transfer.id}">Transfers</td>
        <td th:text="${transfer.transferstatusid}">Transfer Status</td>
        <td th:text="${transfer.accountfrom}">Account From</td>
        <td th:text="${transfer.accountto}">Account To</td>

    </tr>
</table>

</BODY>
</html>