<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<head>

    <title>Login to TEnmo</title>

</head>
<body>
<img src="TEnmo.jpg" alt="TEnmo logo of people sharing money">
<h1 th:text="${message}">Login page</h1>
<main id="margin-top">
<form th:action="@{/weblogin}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" placeholder="Username..." /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" placeholder="Password..." /> <br />
    <input type="submit" class="button-group" value="Log in" />
</form>
</main>
</body>
</html>